<template>
  <component
    :is="compontentType"
    :type="!link ? type : false"
    :to="redirectionLink"
    class="btn-full"
    :class="{ 'no-underline pointer align-center border-box': link, 'disabled': disabled, 'button-disabled': disabled }"
    data-testid="subscribeSubmit"
    :disabled="disabled"
  >
    <slot>
      Button
    </slot>
  </component>
</template>

<script>
import focusClean from 'theme/components/theme/directives/focusClean'
export default {
  name: 'ButtonFull',
  directives: { focusClean },
  props: {
    type: {
      type: String,
      required: false,
      default: 'button'
    },
    link: {
      type: Object,
      required: false,
      default: null
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    compontentType () {
      return this.link ? 'router-link' : 'button'
    },
    redirectionLink () {
      return this.link ? this.localizedRoute(this.link) : null
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$blue-1895F5: color(blue-1895F5);
$white: color(white);

.btn-full {
  background-color: rgba($color-secondary, 0.2);
  border: 1px solid $color-secondary;
  color: $color-secondary;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  svg{
    fill:$color-secondary;
    circle,
    path{
      fill:$color-secondary;
      stroke:$color-secondary;
      transition: all 0.5s ease 0s;
    }
  }

  svg,
  img {
    width: 20px;
  }

  &:hover {
    color: $white;
    background: rgba($blue-1895F5, 0.8);
    border-color: rgba($blue-1895F5, 0.8);
    svg {
      rect,
      path,
      circle{
        stroke: $white;
        fill: $white;
      }
    }
  }
}
button[type="submit"]{
  &.btn-full{
    border: 0px;
    background: $blue-1895F5;
    color: $white;
    &:hover{
      opacity: 1;
      background: rgba($blue-1895F5, 0.8);
    }
    &:disabled{
      background: rgba($blue-1895F5, 0.5);
    }
  }
}
</style>
