<template>
  <div class="price-slider-container">
    <div class="price-range">
      <span>{{ currencySign +' '+ fromPrice }}</span>
      <span>{{ currencySign +' '+ toPrice }}</span>
    </div>
    <no-ssr placeholder="loading..." placeholader-tag="span">
      <vue-slider
        v-model="value"
        v-bind="options"
        @change="setPrice"
        @drag-end="$emit('change', {
          'id': fromPrice+'-'+toPrice,
          'type': 'price',
          'from': fromPrice,
          'to': toPrice,
          'single': true
        })"
        :tooltip-formatter="options.formatter"
        class="mx10"
      />
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import PriceSelector from '@vue-storefront/core/compatibility/components/PriceSelector'
import 'vue-slider-component/theme/default.css'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import config from 'config'

const PriceSliderComponents = {}
if (process.browser) {
  let VueSlider = require('vue-slider-component')
  PriceSliderComponents['vue-slider'] = VueSlider
}
PriceSliderComponents['no-ssr'] = NoSSR

export default {
  name: 'PriceSlider',
  data () {
    const storeView = currentStoreView()
    return {
      value: [Math.floor(config.aureatelabs.productList.priceSlider.from), Math.ceil(config.aureatelabs.productList.priceSlider.to)],
      options: {
        min: Math.floor(config.aureatelabs.productList.priceSlider.from),
        max: Math.ceil(config.aureatelabs.productList.priceSlider.to),
        'clickable': false,
        'height': 4,
        'dot-size': 22,
        'dot-style': {
          'backgroundColor': '#FFFFFF',
          'zIndex': 2
        },
        'tooltip-dir': ['bottom', 'bottom'],
        formatter: storeView.i18n.currencySign + ' {value}',
        'process-style': {
          'backgroundColor': '#2D242D'
        },
        'tooltip-style': {
          'backgroundColor': '#2D242D',
          'color': '#FFFFFF',
          'border-color': '#000',
          'padding': '7px 10px'
        }
      },
      fromPrice: Math.floor(config.aureatelabs.productList.priceSlider.from),
      toPrice: Math.ceil(config.aureatelabs.productList.priceSlider.to),
      startPoint: Math.floor(config.aureatelabs.productList.priceSlider.from),
      endPoint: Math.ceil(config.aureatelabs.productList.priceSlider.to),
      currencySign: storeView.i18n.currencySign
    }
  },
  beforeMount () {
    this.$bus.$on('reset-price-slider', this.resetPriceSlider)
  },
  beforeDestroy () {
    this.$bus.$off('reset-price-slider', this.resetPriceSlider)
  },
  methods: {
    setPrice: function (e) {
      let val = e
      this.fromPrice = val[0]
      this.toPrice = val[1]
    },
    resetPriceSlider (priceRange) {
      this.fromPrice = priceRange.from
      this.toPrice = priceRange.to
      this.value = [priceRange.from, priceRange.to]
      this.options.min = priceRange.from
      this.options.max = priceRange.to
    }
  },
  components: PriceSliderComponents,
  mixins: [PriceSelector]
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$black: color(black);

.vue-slider-component .vue-slider-dot {
  box-shadow: none;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  color: $gray-666666;
}

.vue-slider {
  margin: 0 !important;
}

.vue-slider-rail {
  background-color: $gray-666666;
}

.vue-slider-process {
  background-color: $color-secondary !important;
}

.vue-slider-dot {
  z-index: 2;
}

.vue-slider-dot-handle {
  border: 1px solid rgba($black, 0.1);
  box-shadow: 0 3px 1px rgba($black, 0.05), 0 2px 2px rgba($black, 0.1), 0 3px 3px rgba($black, 0.05);
}
</style>
