<template>
  <div>
    <customer-address />
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import CustomerAddress from 'src/modules/address-book/components/CustomerAddress.vue'

export default {
  components: {
    CustomerAddress
  },
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  }
}
</script>
