<template>
  <div id="category">
    <div class="nosto_page_type" style="display:none">
      category
    </div>
    <category-path />
    <header class="py30">
      <div class="container">
        <div class="bredcrumb-sec">
          <breadcrumbs />
          <div class="sorting-sec">
            <div class="sorting mr30">
              <ViewToggle @viewChange="viewType" />
            </div>
            <div class="sorting">
              <sort-by
                :has-label="true"
                @change="changeFilter"
                :value="getCurrentSearchQuery.sort"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="mobile-filter-sorting">
          <button
            class="mobile-filters-button"
            @click="openFilters"
          >
            {{ $t('Filters') }}
          </button>
          <button
            class="mobile-sorting"
            @click="openSorting"
          >
            {{ $t('Sort') }}
          </button>
        </div>
      </div>
    </header>
    <div class="container pb60">
      <div class="row">
        <div class="col-md-4 col-lg-3 start-xs category-filters">
          <sidebar class="shaded-box" :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        <div class="mobile-filters" v-show="mobileFilters">
          <div class="mobile-filters-overlay" @click="closeFilters" />
          <div class="mobile-filters-wrap">
            <div class="close-container absolute">
              <i class="material-icons close pointer" @click="closeFilters">close</i>
            </div>
            <sidebar class="mobile-filters-body" :filters="getAvailableFilters" @changeFilter="changeFilter" />
            <div class="relative pb20 pt15">
              <div class="brdr-top-1 brdr-cl-gray-D8D8D8 divider w-100" />
            </div>
            <div class="mobile-result-btn-wrap">
              <span
                class="weight-400 sidebar__header__clear pointer sans-serif flex lh25"
                @click="resetAllFilters"
                v-show="hasActiveFilters"
              >
                {{ $t('Clear filters') }}
              </span>
              <button-full
                class="btn__filter"
                @click.native="closeFilters"
              >
                {{ $t('View Results') }}
              </button-full>
            </div>
          </div>
        </div>
        <div class="mobile-filters" v-show="mobileSorting">
          <div class="mobile-filters-overlay" @click="closeSorting" />
          <div class="mobile-sorting-wrap">
            <div class="close-container absolute">
              <i class="material-icons close pointer" @click="closeSorting">close</i>
            </div>
            <product-sorting-popup />
          </div>
        </div>
        <div class="col-md-8 col-lg-9 border-box products-list">
          <div class="shaded-box" :class="{'list-view' : !isGrid, 'grid-view' : isGrid}">
            <div class="product-count" v-if="getCategoryProductsTotal > 0">
              {{ getCategoryProductsTotal + $t(' Items') }}
            </div>
            <div v-if="isCategoryEmpty" class="hidden-xs">
              <h4 data-testid="noProductsInfo">
                {{ $t('No products found!') }}
              </h4>
              <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
            </div>
            <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
              <product-listing :columns="defaultColumn" :products="getCategoryProducts" />
            </lazy-hydrate>
            <product-listing v-else :columns="defaultColumn" :products="getCategoryProducts" />
            <div class="flex center-xs mt30" v-if="loadingProducts">
              <div class="lds-dual-ring" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <product-sorting-popup v-if="loadProductSortingPopup" /> -->
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import ProductListing from '../components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import ViewToggle from 'theme/components/theme/ViewToggle.vue'
import { mapState } from 'vuex'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
import CategoryPath from '../components/core/CategoryPath.vue'

const ProductSortingPopup = () => import(/* webpackChunkName: "vsf-myaccountmenu-modal" */ 'theme/components/core/blocks/Product/ProductSortingPopup.vue')

const THEME_PAGE_SIZE = 50

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const pageSize = store.getters['url/isBackRoute'] ? store.getters['url/getCurrentRoute'].categoryPageSize : THEME_PAGE_SIZE
    await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    console.error('Problem with setting Category initial data!', e)
  }
}

export default {
  components: {
    LazyHydrate,
    ButtonFull,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy,
    ViewToggle,
    ProductSortingPopup,
    CategoryPath
  },
  data () {
    return {
      mobileFilters: false,
      mobileSorting: false,
      defaultColumn: 4,
      loadingProducts: false,
      loading: true,
      isGrid: true,
      loadProductSortingPopup: false
    }
  },
  computed: {
    ...mapState({
      isOpen: state => state.ui.myaccountmenuPopup
    }),
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
    }),
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  mounted () {
    this.loadMoreProducts();
  },
  methods: {
    openFilters () {
      this.mobileFilters = true
      disableBodyScroll();
    },
    openSorting () {
      this.mobileSorting = true
      disableBodyScroll();
    },
    closeFilters () {
      this.mobileFilters = false
      clearAllBodyScrollLocks();
    },
    closeSorting () {
      this.mobileSorting = false
      clearAllBodyScrollLocks();
    },
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters')
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
    },
    columnChange (column) {
      this.defaultColumn = column
    },
    loadMoreProducts () {
      document.addEventListener('scroll', async () => {
        if (isServer) {
          return false
        }
        const ele = document.getElementsByClassName('products-list')
        if (ele.length) {
          const eleOffsetTop = ele[0].offsetTop
          const SAFETY_MARGIN = 30
          const scrollY = window.scrollY
          const visible = window.innerHeight
          const pageHeight = ele[0].scrollHeight
          const bottomOfPage = (scrollY - eleOffsetTop - SAFETY_MARGIN) >= pageHeight - visible

          if (bottomOfPage || pageHeight < visible) {
            if (this.loadingProducts) return
            this.loadingProducts = true
            try {
              await this.$store.dispatch('category-next/loadMoreCategoryProducts')
            } catch (e) {
              console.error('Problem with fetching more products', e)
            } finally {
              this.loadingProducts = false
            }
          }
        }
      });
    },
    viewType (newView) {
      if (newView === false) {
        this.defaultColumn = 1;
      } else {
        this.defaultColumn = 4;
      }
      this.isGrid = newView;
      return this.isGrid;
    },
    showProductSortingPopup () {
      this.loadProductSortingPopup = true
      this.$bus.$emit('modal-show', 'modal-productsortingpopup')
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []
    const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href

    return {
      link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-white: color(white);
$color-black: color(black);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);

  .btn {
    &__filter {
      min-width: 100px;
    }
  }
  .divider {
    width: 100%;
  }
  .category-filters {
    width: 242px;
    h4.sidebar__header{
      margin: 0 0 20px;
      font-size: 18px;
      min-height: inherit;
      font-weight:400;
    }
  }

  .mobile-filters {
    display: none;
    overflow: auto;
  }

  .mobile-filters-button {
    display: none;
  }

  .mobile-sorting {
    display: none;
  }

  .category-title {
    line-height: 65px;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
    }

    .mobile-filter-sorting {
      background-color: $color-white;
      border-radius: 4px;
      padding: 8px;
      font-size: 14px;
      border: 1px solid $gray-D8D8D8;
      margin-top: 20px;
      color: $gray-666666;
      display: flex;
      align-items: center;
      font-weight: 600;

      .mobile-sorting,
      .mobile-filters-button {
        padding: 0 10px;
        margin: 0;
        border: 0 none;
        background-color: transparent;
        width: 50%;
        border-right: 1px solid $gray-D8D8D8;
        color: inherit;
        font-size: 14px;
        font-weight: 600;
      }

      .mobile-sorting {
        border-right: 0 none;
      }
    }

    .mobile-filters {
      display: block;
    }

    .mobile-filters-button {
      display: block;
    }

    .sorting {
      display: none;
    }

    .mobile-sorting {
      display: block;
    }

    .category-filters {
      display: none;
    }

    .product-listing {
      justify-content: center;;
    }

    .mobile-filters-overlay {
      position: fixed;
      background-color: rgba($color-black, 0.4);
      z-index: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      top: 0;
    }

    .mobile-filters {
      position: fixed;
      background-color: transparent;
      z-index: 5;
      padding: 40px;
      left: 0;
      width: 100vw;
      height: 100vh;
      top: 0;
      box-sizing: border-box;

      @media (max-width: 575px) {
        padding: 20px;
      }
    }

    .mobile-filters-wrap {
      background-color: $color-white;
      border-radius: 8px;
      padding: 50px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      overflow-x: hidden;
      overflow-y: auto;
      height: 70%;

      @media (max-width: 575px) {
        padding: 30px;
      }
    }
    .mobile-sorting-wrap {
      background-color: $color-white;
      border-radius: 8px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .close-container {
    right: 3px;
    top: 3px;
    z-index: 2;
  }

  .close {
    margin-left: auto;
  }

  .bredcrumb-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sorting-sec {
    display: flex;
    justify-content: left;
    align-items: center;
  }
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);
$yellow-F6A500: color(yellow-F6A500);
$blue-1895F5: color(blue-1895F5);
$gray-666666: color(gray-666666);

.product-image {
  max-height: unset !important;
}

.sidebar {
  &.shaded-box {
    padding: 30px;
  }
}

.products-list {
  .shaded-box:not(.list-view) {
    padding: 40px;

    @media (max-width: 767px) {
      padding: 16px;
      border-radius: 4px;

      .product-listing {
        margin-left: -8px;
        margin-right: -8px;

        & > div {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }

  .list-view {
    padding: 30px;
  }
}

.list-view {
  .product-listing > div {
    margin-top: 30px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  .product-tile-info {
    .product-tile-description,
    .product-item-info-list {
      display: block;
    }

    .info-btn-list {
      display: flex;
    }
  }

  .product-tile-actions {
    .product-tile-price {
      display: flex;
    }
  }

  .product {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .product-cover {
      flex: 0 0 25%;
      max-width: 25%;

      @media (max-width: 1199px) {
        flex: 0 0 35%;
        max-width: 35%;
        .btn-wishlist {
          .wishlist-icon {
            width: 30px;
            height: 30px;
            padding: 7px 5px;
          }
        }
      }
      @media (max-width: 1199px) {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
    .list-view-product-info{
      flex:0 0 75%;
      max-width: 75%;
      display: flex;
      align-items: center;
      @media (max-width: 1199px) {
        flex:0 0 65%;
        max-width: 65%;
        display: block;
      }
      @media (max-width: 992px) {
        flex:0 0 60%;
        max-width: 60%;
      }
    }
    .product-tile-info {
      flex: 0 0 65%;
      max-width: 65%;
      padding-left: 30px;
      text-align: left;

      .product-tile-title {
        margin-top: 0;
        margin-bottom: 8px;
        height: auto;
        display: block;
        -webkit-line-clamp: 0;
        -webkit-box-orient: horizontal;
        /* autoprefixer: off */
      }
      @media (max-width: 1199px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        .product-tile-title{
          min-height: inherit;
        }
      }
      .product-item-info-list {
        font-size: 13px;
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;

        .product-item-info-item {
          & + .product-item-info-item {
            &::before {
              content: "|";
              margin-left: 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .product-tile-actions {
      flex: 0 0 35%;
      max-width: 35%;
      padding-left: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .product-tile-price {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color-secondary;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .price-original {
          font-size: 16px;
          font-weight: 500;
          color: $gray-666666;
        }
      }
      .add-to-cart-with-price {
        .price-wrap {
          display: none;
        }
      }
      @media (max-width: 1199px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        display: block;
        text-align: left;
        button{
          max-width: 150px;
          display: inline-block;
          vertical-align: top;
          margin:3px 5px 3px 0;
        }
        .product-tile-price {
          justify-content: flex-start;
        }
      }
      @media (max-width: 992px) {
        button{
          max-width: 110px;
        }
      }
    }

    .product-tile-description {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.67;
      color: $gray-666666;
    }
  }
}

.info-btn-list {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;

  .info-btn-item {
    border-radius: 6px;
    border: 1px solid $color-primary;
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 600;
    color: $color-primary;
    background-color: rgba($color-primary, 0.06);
    display: flex;
    align-items: center;
    margin: 3px 5px 3px 0;

    & + .info-btn-item {
      margin-left: 8px;
    }

    &.btn-yellow {
      color: $yellow-F6A500;
      border-color: $yellow-F6A500;
      background-color: rgba($yellow-F6A500, 0.06);
    }

    &.btn-blue {
      color: $blue-1895F5;
      border-color: $blue-1895F5;
      background-color: rgba($blue-1895F5, 0.06);
      margin-left: 0;
    }
  }
}

.mobile-result-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .sidebar__header__clear {
    padding-right: 15px;
    transition: all 0.5s ease 0s;

    &:hover {
      color: $color-secondary;
    }
  }

  .btn__filter {
    width: auto;
  }
}
</style>
