<template>
  <section class="faqs-section">
    <div class="container">
      <breadcrumbs
        class="mb30"
        :routes="[{name: 'PHOENIX', route_link: '/'}]"
        active-route="FAQs"
      />
    </div>
    <div class="container">
      <div class="faqs-content shaded-box">
        <h1 class="page-title mb40 align-center cl-black">
          {{ $t('FAQs') }}
        </h1>
        <div class="faqs-wrap">
          <div class="accordian-box pt60">
            <cms-block :identifier="'faq'" />
          </div>
          <!-- <div class="faq-pagination">
            <a href="#" class="faq-pagination-prev">Prev</a>
            <a href="#" class="faq-pagination-number active">1</a>
            <a href="#" class="faq-pagination-number">2</a>
            <span class="faq-pagination-dots">...</span>
            <a href="#" class="faq-pagination-number">5</a>
            <a href="#" class="faq-pagination-next">Next</a>
          </div> -->
          <div class="need-help-btn align-center">
            <span class="cl-gray-666666">{{ $t('Need futher help?') }}</span>
            <router-link :to="localizedRoute('/contact')">
              <span class="material-icons">mail</span>{{ $t('Contact Us') }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  components: {
    Breadcrumbs,
    CmsBlock
  },
  mounted () {
    this.$nextTick(() => {
      document.querySelectorAll('.accordian-item').forEach((item, index) => {
        item.getElementsByTagName('h5')[0].addEventListener('click', (e) => {
          document.querySelectorAll('.accordian-item').forEach((itm) => {
            itm.classList.remove('active')
          })
          item.classList.add('active')
        })
      })
    })
  }
};
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-D8D8D8: color(gray-D8D8D8);
$blue-1895F5: color(blue-1895F5);
$gray-666666: color(gray-666666);
.accordian-item.active {
  .accordian-sub {
    opacity: inherit;
    overflow: visible;
    height: auto;
    padding: 20px 0;
  }
  .active {
    color:$blue-1895F5;
    border-bottom: 2px solid $gray-666666;
  }
  h5 {
    border-bottom: 1px solid $blue-1895F5;
    color: $blue-1895F5;
  }
  .material-icons{
    &::after{
      content: 'remove';
    }
  }
}
.accordian-item {
  background-color: $white;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 20px;

  &:last-child {
    border-bottom: 1px solid $gray-D8D8D8;
    margin-bottom: 0;
  }
  h5 {
    font-size: 18px;
    padding: 15px 40px 15px 0;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
    color: $black;
    display: flex;
    line-height: 180%;
    transition: 0.3s;
    &:hover {
      color: $blue-1895F5;
    }
    &:before {
      content: "Q.";
      color: $blue-1895F5;
      font-weight: 600;
      font-size: 26px;
      align-self: flex-start;
      line-height: 110%;
      margin-right: 15px;
    }
    .material-icons {
      font-size: 22px;
      transition: all 0.3s ease-out;
      position: relative;
      position: absolute;
      right:15px;
      top: 0;
      bottom: 0;
      &:after {
        content: 'add';
        position: absolute;
        top: 15px;
        bottom: 0;
        text-transform: none;
        margin: auto;
        font-family: 'Material Icons';
        left:-5px;
        font-size: 30px;
        color: $blue-1895F5;
        @media (max-width: 767px) {
          top: 13px;
          font-size: 25px;
        }
      }
    }
  }
  .accordian-sub {
    margin-top: 0;
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    &.active {
      height: auto;
      opacity: 1;
      transform: translateY(0);
      padding: 20px 0;
    }
    p {
      font-size: 18px;
      color: $black;
      line-height: 180%;
    }
  }
}
@media (max-width:767px) {
  .accordian-item {
    margin-bottom: 20px;
    h5 {
      font-size: 14px;
      line-height: 160%;
      &:before {
        line-height: 100%;
        margin-right: 10px;
        font-size: 20px;
      }
    }
    .accordian-sub {
      p {
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-D8D8D8: color(gray-D8D8D8);
$blue-1895F5: color(blue-1895F5);
$gray-666666: color(gray-666666);
.faqs-section {
  padding: 25px 0 80px;
  .shaded-box {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .faqs-search {
    max-width: 350px;
    margin: auto auto 50px;
    position: relative;
    input {
      border: 2px solid $gray-D8D8D8;
      width: 100%;
      border-radius: 4px;
      padding: 0 50px 0 15px;
      font-size: 18px;
      color: $gray-666666;
    }
    .faq-search-btn {
      position: absolute;
      right: 10px;
      border: 0;
      background: none;
      font-size: 35px;
      top: 6px;
      color: $blue-1895F5;
      padding: 0;
      transition: 0.3s;
      &:hover {
        color: $black;
      }
    }
  }
  @media (max-width:767px) {
    padding: 25px 0 50px;
    .shaded-box {
      padding: 40px 24px;
    }
    .faqs-search {
      margin-bottom: 30px;
      input {
        font-size: 16px;
      }
    }
  }
  .faqs-content{
    .faqs-wrap {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
.faq-pagination {
  text-align: center;
  margin: 80px 0;
  a {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 1px;
    border-radius: 50%;
    color: $black;
    &.active, &:hover {
      background:$blue-1895F5;
      color: $white;
    }
  }
  .faq-pagination-prev, .faq-pagination-next {
    font-size: 18px;
    margin: 0 10px;
    border-radius:0;
    width: auto;
    &:hover {
      background:transparent;
      color:$blue-1895F5;
    }
  }
  .faq-pagination-dots {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    line-height: 31px;
    letter-spacing: 2px;
    font-weight: bold;
    color: $black;
  }
  @media (max-width:767px) {
    margin: 30px 0;
    a {
      width: 34px;
      height: 34px;
      line-height: 34px;
    }
    .faq-pagination-prev, .faq-pagination-next {
      font-size: 16px;
      margin: 0 5px;
    }
  }
}
.need-help-btn {
  > span {
    display: block;
    margin: 40px 0 15px;
    @media (max-width: 767px) {
      margin: 30px 0 15px;
    }
  }
  a {
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 0 30px;
    color: $blue-1895F5;
    span {
      vertical-align: middle;
      margin-right: 10px;
      font-size: 30px;
      line-height: inherit;
      margin-top: -2px;
    }
    &:hover {
      background-color: $blue-1895F5;
      color: $white;
    }
  }
}
</style>
