<template>
  <div class="mb35">
    <div class="account-block shaded-box">
      <div class="row mb30">
        <div class="col-xs-12 profile-title">
          <h3 class="m0 mb5">
            {{ $t('My Reward Points') }}
          </h3>
          <p class="f-s-15 cl-gray-666666">
            {{ $t('Lorem Ipsum is simply dummy text of the printing and typesetting industry.') }}
          </p>
        </div>
      </div>
      <div class="order-table brdr-1 brdr-cl-gray-D8D8D8">
        <div class="table-responsive" v-if="rewards.rewardPoints.result.length">
          <table>
            <thead>
              <th>{{ $t('Id') }}</th>
              <th>{{ $t('Balance charge') }}</th>
              <th>{{ $t('Comment') }}</th>
              <th>{{ $t('Created at') }}</th>
              <th>{{ $t('Updated at') }}</th>
            </thead>
            <tbody>
              <tr v-for="reward in rewards.rewardPoints.result" :key="reward.transaction_id">
                <td>{{ reward.transaction_id }}</td>
                <td>{{ reward.amount }}</td>
                <td>{{ reward.comment }}</td>
                <td>{{ reward.created_at }}</td>
                <td>{{ reward.updated_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12 h4" v-if="rewards.rewardPoints.result.length == 0">
          <p class="mt20">
            {{ $t('No records found') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      rewards: state => state.rewardPoints
    })
  },
  components: {

  },
  async created  () {
    await this.$store.dispatch('rewardPoints/list');
  }
}
</script>
