@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$gray-333435: color(gray-333435);
$gray-666666: color(gray-666666);
$blue-1895F5: color(blue-1895F5);
$black:color(black);

.display-none{
    display:none;
}
.details {
    @media (max-width: 767px) {
      padding: 50px 15px 15px;
    }
}
#product{
    .product-offers {
        .price-special,
        .price-regular{
            font-size: 22px;
            font-weight: 700;
            color: $blue-1895F5;
            margin: 0;
        }

        .price-original {
            font-size: 16px;
            font-weight: 400;
            color: $gray-666666;
        }
    }
    .product-quantity-wrap{
        display: flex;
        align-items: center;
    }
    .reviews{
        .btn-full{
            width: auto;
            padding: 14px 30px;
            img {
                margin-right: 8px;
                width: 14px;
            }
        }
    }
}

.details-title {
    padding: 0 8px;
    border-top: 1px solid $gray-D8D8D8;
    border-bottom: 1px solid $gray-D8D8D8;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 0;
    margin-top: -1px;
    background-color: #fff;
    position: relative;
    transition: 0.5s;
    color: $blue-1895F5;
    font-weight:400;
    &:after {
        content: "add";
        position: absolute;
        font-family: 'Material Icons';
        right: 0;
        top:19px;
        transition: 0.5s;
        text-transform: none;
        background-color: #fff;
        font-size: 20px;
        font-weight:normal;
        color: $black;
    }
    &.minus{
        &:after {
            content: "remove"; 
            color: $blue-1895F5;
        }
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin: 0;
      background-size: 10px;
      &:after {
        top: 9px;
        font-size: 25px;
      }
    }
}
.shaded-box {
    .is-closed {
        .details-title {
            color: $gray-666666;
            &::before {
                color: $black;
            }
            &:hover {
                color: $blue-1895F5;
                &:after, &:before {
                   color: $blue-1895F5;
                }
            }
        }
    }
}
.cart-with-price{

    @media (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
    }

    .btn-full{
        max-width: 220px;
    }
    .sample-btn{
        max-width: 220px;
        margin-left: 10px;
        @media (min-width: 768px) and (max-width: 1199px) {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}
.details-wrapper{
    max-width: 700px;
    margin: 25px auto 40px;

    @media (max-width: 767px) {
        margin: 20px auto;
    }

    .attributes{
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: $gray-666666;
        max-width: 310px;
        margin: 0 auto;
        li{
            font-size: 14px;
            color: $gray-666666;
            padding: 10px 10px;
            border-bottom: solid 1px $gray-D8D8D8;
            display: flex;
            font-weight: 500;
            line-height: 1.4;
            margin: 0;
            span{
                &:nth-child(1){
                    color: $gray-666666;
                    font-weight: 500;
                    min-width: 130px;
                    position: relative;
                    &:after{
                        content: ':';
                        display: inline-block;
                        position: absolute;
                        right: 0;

                    }
                }
                &.weight-700{
                    font-weight: 500;
                    color: $gray-333435;
                    padding-left: 10px;
                }
            }
        }
    }
    .description{
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: $gray-666666;

        @media (max-width: 767px) {
            padding-top: 20px;
        }

        p{
            text-align: center;
        }
    }
}

.reviews{
    .details-wrapper{
        h2{
            text-transform: uppercase;
            text-align: center;

            @media (max-width: 767px) {
                padding-top: 20px;
            }
        }
        label{
            font-size: 14px;
        }
        .buttons{
            span{
                font-size: 14px;
            }
        }
    }
}