<template>
  <button class="brdr-none bg-cl-transparent clear-btn flex middle-xs p0">
    <i class="material-icons pointer mr5">cancel</i>
    {{ $t('Delete') }}
  </button>
</template>
<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);

.clear-btn {
  margin: 0;
  color: $gray-666666;
  font-weight: 500;
  font-size: 12px;

  .material-icons {
    font-size: 15px;
  }

  &:hover {
    color: $color-secondary;
  }
}
</style>
