<template>
  <div class="checkout-order-summary">
    <div class="order-summary">
      <h3 class="summary-title">
        {{ $t('Order Summary') }}
      </h3>
      <ul class="product-list">
        <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      </ul>
      <div v-if="productsInCart && productsInCart.length" class="checkout">
        <div v-for="(segment, index) in totals" :key="index" class="row" v-if="segment.code !== 'grand_total'">
          <div class="col-xs-6">
            {{ $t(segment.title) }}
          </div>
          <div v-if="segment.value != null" class="col-xs-6 align-right">
            {{ segment.value | priceWithoutFraction(storeView) }}
          </div>
        </div>

        <div class="row cart-total" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
          <div class="col-xs-6">
            {{ $t(segment.title) }}
          </div>
          <div class="col-xs-6 align-right">
            {{ segment.value | priceWithoutFraction(storeView) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'
import { priceWithoutFraction } from 'theme/filters'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  filters: {
    priceWithoutFraction: priceWithoutFraction
  },
  mixins: [CartSummary]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $gray-D8D8D8: color(gray-D8D8D8);
  $color-primary: color(primary);
  $gray-EEEEEE: color(gray-EEEEEE);
  $gray-666666: color(gray-666666);

  .summary-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-primary;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-EEEEEE;
  }

  .order-summary {
    padding: 20px 30px;
    width: 100%;
  }

  .product-list {
    margin: 0 0 15px;
    padding: 0 0 30px;
    list-style: none;
    border-bottom: 1px solid $gray-EEEEEE;
  }

  .checkout {
    & > .row {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: 500;
      color: $gray-666666;

      @media (max-width: 991px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .cart-total {
      font-weight: 700;
      color: $color-primary;
      padding-top: 25px;
    }
  }
</style>
