<template>
  <div class="payment pb20 order-tab-wrap" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div
          class="number-circle"
        >
          {{ (isVirtualCart ? 2 : 3) }}
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-xs-12 col-sm-6 col-lg-7">
            <h3 class="order-tab-title">
              {{ $t('Payment') }}
            </h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <div class="lh30 flex end-sm" v-if="isFilled && !isActive">
              <a href="#" class="edit-btn flex middle-xs" @click.prevent="edit">
                <span class="pr5">
                  {{ $t('Edit payment') }}
                </span>
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row" v-if="isActive">
          <base-checkbox
            class="col-xs-12 my15 cl-gray-666666 checkbox-with-tooltip"
            id="sendToShippingAddressCheckbox"
            v-model="sendToShippingAddress"
            v-if="!isVirtualCart"
          >
            {{ $t('My Shipping and Billing Address are the same') }}
            <tooltip class="ml10">
              {{ $t('Shipping and Billing Address are the same') }}
            </tooltip>
          </base-checkbox>
          <!-- <base-checkbox
            v-if="hasBillingData()"
            class="col-xs-12 my15 cl-gray-666666"
            id="sendToBillingAddressCheckbox"
            v-model="sendToBillingAddress"
          >
            {{ $t('My Shipping and Billing Address are the same') }}
          </base-checkbox> -->

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="payment.firstName"
            @blur="$v.payment.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.payment.firstName.$error && !$v.payment.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="payment.lastName"
            @blur="$v.payment.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.payment.lastName.$error && !$v.payment.lastName.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 mb15"
            type="number"
            name="zip-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="payment.zipCode"
            @blur="$v.payment.zipCode.$touch()"
            autocomplete="postal-code"
            maxlength="5"
            :validations="[
              {
                condition: $v.payment.zipCode.$error && !$v.payment.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.zipCode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="street-address"
            :placeholder="$t('Street name *')"
            v-model.trim="payment.streetAddress"
            @blur="$v.payment.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.payment.streetAddress.$error && !$v.payment.streetAddress.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="apartment-number"
            :placeholder="$t('House/Apartment number *')"
            v-model.trim="payment.apartmentNumber"
            @blur="$v.payment.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[{
              condition: $v.payment.apartmentNumber.$error && !$v.payment.apartmentNumber.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="city"
            :placeholder="$t('City *')"
            v-model.trim="payment.city"
            @blur="$v.payment.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.payment.city.$error && !$v.payment.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.payment.city.$error && $v.payment.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="payment.state"
            autocomplete="address-level1"
          />

          <base-select
            class="col-xs-12 mb15"
            name="countries"
            :options="countryOptions"
            :selected="payment.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.payment.country.$error && !$v.payment.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="payment.country"
            autocomplete="country-name"
            @blur="$v.payment.country.$touch()"
            @change="$v.payment.country.$touch(); changeCountry();"
          />

          <base-input
            class="col-xs-12 mb15"
            type="text"
            name="phone-number"
            :placeholder="$t('Phone Number')"
            v-model.trim="payment.phoneNumber"
            autocomplete="tel"
            maxlength="10"
          />

          <div class="col-xs-12">
            <h4 class="f-s-16 weight-600 cl-primary mb10 mt15">
              {{ $t('Payment Method') }}
            </h4>
          </div>
          <div class="col-xs-12">
            <div class="payment-method-list">
              <div v-for="(method, index) in paymentMethods" :key="index" class="payment-method-item" v-if="method.code !== 'cashondelivery'">
                <label class="radioStyled" :class="method.code">
                  <input
                    type="radio"
                    :value="method.code"
                    name="payment-method"
                    v-model="payment.paymentMethod"
                    @change="$v.payment.paymentMethod.$touch(); switchPaymentMethod(method.code);"
                  >
                  <span class="checkmark new">
                    <span>
                      <strong></strong>
                    </span>
                    {{ method.title ? method.title : method.name }}
                  </span>
                </label>
              </div>
              <div class="payment-details" v-show="p2c2pmethod || payment.paymentMethod === 'p2c2ppayment'">
                <form id="2c2p-payment-form" @submit.prevent="payment3d()" ref="p2c2pForm" v-if="paymentToken === ''">
                  <input type="text" v-model="cardholdername" data-encrypt="cardholdername" maxlength="16" placeholder="Card Holder Name">
                  <input type="text" v-model="cardnumber" data-encrypt="cardnumber" maxlength="16" placeholder="Credit Card Number">
                  <div class="card-date">
                    <input type="number" v-model="month" data-encrypt="month" maxlength="2" placeholder="MM">
                    <input type="number" v-model="year" data-encrypt="year" maxlength="4" placeholder="YYYY">
                    <input type="password" v-model="cvv" data-encrypt="cvv" maxlength="4" autocomplete="off" placeholder="CVV2/CVC2">
                  </div>
                  <input type="hidden" value="" v-model="encryptedCardInfo" name="encryptedCardInfo">
                  <input type="hidden" value="" v-model="maskedCardInfo" name="maskedCardInfo">
                  <input type="hidden" value="" v-model="expMonthCardInfo" name="expMonthCardInfo">
                  <input type="hidden" value="" v-model="expYearCardInfo" name="expYearCardInfo">
                </form>

                <div class="recently-list payment-methods" v-if="savedCardData.result">
                  <div class="card-list flex" v-if="savedCardData.result.items && savedCardData.result.items.length > 0">
                    <div class="card-item" v-for="(carddata, index) in savedCardData.result.items" :key="index">
                      <div class="item-box" @click="changePaymentToken(carddata)" :class="{active: carddata.customers_id == tokenId}">
                        <div class="card-details">
                          <strong>{{ carddata.number }}</strong>
                        </div>
                      </div>
                    </div>
                    <div class="card-item">
                      <div class="item-box" @click="changePaymentToken({'customers_id': 0, 'token': ''})" :class="{active: tokenId == 0}">
                        <div class="card-details plus-card">
                          <strong>+</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span data-testid="errorMessage" class="block cl-error weight-700 f-s-12 mt8 validation-error" v-if="!$v.payment.paymentMethod.required">
              {{ $t('Field is required') }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />

      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="flex mt15 mb20 middle-xs button-container-wrap">
          <div class="button-container">
            <button
              class="btn-fill btn-secondary"
              @click="sendStoredDataToCheckout"
              data-testid="paymentSubmit"
              :disabled="$v.payment.$invalid"
            >
              {{ $t('GO REVIEW THE ORDER') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <div class="col-xs-12">
            <div class="filled-info">
              <p>
                {{ payment.firstName }} {{ payment.lastName }}<br>
                {{ payment.streetAddress }} {{ payment.apartmentNumber }}<br>
                {{ payment.city }} {{ payment.zipCode }}<br>
                <span v-if="payment.state">{{ payment.state }}, </span><br v-if="payment.state">
                <span>{{ getCountryName() }}</span>
              </p>
              <div class="mb25" v-if="payment.phoneNumber">
                <span class="pr15">{{ payment.phoneNumber }}</span>
                <tooltip>{{ $t('Phone number may be needed by carrier') }}</tooltip>
              </div>
              <p v-if="generateInvoice">
                {{ payment.company }} {{ payment.taxId }}
              </p>
              <h4 class="payment-field-title">
                {{ $t('Payment Method') }}
              </h4>
              <div class="mb20">
                <div class="payment-method-list" :class="{ 'filled' : !isActive && isFilled }">
                  <div class="payment-method-item">
                    <label class="radioStyled">
                      <input type="radio" value="" checked disabled name="chosen-payment-method">
                      <span class="checkmark">
                        {{ getPaymentMethod().title }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import Tooltip from 'theme/components/core/Tooltip'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import { mapGetters } from 'vuex'

export default {
  components: {
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    Tooltip
  },
  data: function () {
    return {
      activePaymentMethod: '',
      p2c2pmethod: false,
      cardnumber: null,
      cardholdername: null,
      month: null,
      year: null,
      cvv: null,
      encryptedCardInfo: null,
      maskedCardInfo: null,
      expMonthCardInfo: null,
      expYearCardInfo: null,
      currentYear: new Date().getFullYear(),
      currentMonth: new Date().getMonth(),
      tokenId: '',
      paymentToken: '',
      response: null
    }
  },
  mixins: [Payment],
  computed: {
    ...mapGetters({
      savedCardData: 'cardData/getCustomerSavedCard'
    }),
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'TH')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    isOrderReview () {
      return this.$parent.$parent.activeSection.orderReview
    },
    isPaymentMethod () {
      return this.$parent.$parent.activeSection.payment
    },
    fetchCardDetails () {
      let paymentData = {
        cardnumber: this.cardnumber,
        cardholdername: this.cardholdername,
        month: this.month,
        year: this.year,
        cvv: this.cvv,
        encryptedCardInfo: this.encryptedCardInfo,
        maskedCardInfo: this.maskedCardInfo,
        expMonthCardInfo: this.expMonthCardInfo,
        expYearCardInfo: this.expYearCardInfo
      }
      return paymentData;
    }
  },
  mounted () {
    this.$bus.$on('make-2c2p-payment', this.payment3d)
  },
  watch: {
    savedCardData: {
      handler () {
        if (this.savedCardData.result.items.length > 0) {
          this.paymentToken = this.savedCardData.result.items[0].token
          this.tokenId = this.savedCardData.result.items[0].customers_id
        }
      }
    }
  },
  methods: {
    changePaymentToken (token) {
      this.paymentToken = token.token
      this.tokenId = token.customers_id
    },
    switchPaymentMethod (method) {
      this.changePaymentMethod();
      this.p2c2pmethod = false;
      this.activePaymentMethod = method
      if (method === 'p2c2ppayment') {
        this.p2c2pmethod = true;
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    },
    isNumber (val) {
      return /^\d+$/.test(val)
    },
    async sendStoredDataToCheckout () {
      if (this.p2c2pmethod || this.payment.paymentMethod === 'p2c2ppayment') {
        if (!this.paymentToken) {
          var isValidData = true;
          var fetchData = this.fetchCardDetails;
          var errorMessage = '';
          var message = '';

          if (!fetchData.cardnumber || !fetchData.month || !fetchData.year || !fetchData.cvv || !fetchData.cardholdername) {
            message = 'Please fill up the credit card details'
            this.notifyUser(notifications.createNotification({ type: 'error', message }))
            this.isValidData = false;
          } else {
            var cNumber = fetchData.cardnumber.replace(/\s/g, '');
            this.errorMessage = '';
            this.isValidData = true;

            var check = /^[a-z A-Z]+$/.test(fetchData.cardholdername);
            if (!check) {
              message = this.$t('Please enter the cardholder name in the english language')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            }

            if (cNumber.length < 16) {
              message = this.$t('Please enter the valid card number')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            } else if (!this.isNumber(cNumber)) {
              message = this.$t('Please enter the valid card number')

              if (this.errorMessag) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            }
            if (fetchData.month.length < 1) {
              message = this.$t('Please enter the valid month')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            } else if (!this.isNumber(fetchData.month)) {
              message = this.$t('Please enter the valid month')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            }
            if (fetchData.year.length < 4) {
              message = this.$t('Please enter the valid year')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            } else if (!this.isNumber(fetchData.year)) {
              message = this.$t('Please enter the valid year')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            } else if (fetchData.year < this.currentYear) {
              message = this.$t('Please enter the valid year')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message + ' && ';
              } else {
                this.errorMessage = message + ' && ';
              }

              this.isValidData = false;
            }
            if (fetchData.cvv.length < 3) {
              message = this.$t('Please enter the valid cvv')

              if (this.errorMessage) {
                this.errorMessage = this.errorMessage + message;
              } else {
                this.errorMessage = message;
              }

              this.isValidData = false;
            }
            if (this.isValidData) {
              if (fetchData.year <= this.currentYear && fetchData.month < this.currentMonth + 1) {
                message = this.$t('The card is expired')
                this.notifyUser(notifications.createNotification({ type: 'error', message }))
                this.isValidData = false;
              } else {
                await this.$bus.$emit('make-2c2p-payment');
                this.sendDataToCheckout();
              }
            } else {
              var lastCharacters = this.errorMessage.slice(this.errorMessage.length - 3);
              if (lastCharacters === '&& ') {
                this.errorMessage = this.errorMessage.slice(0, -3)
              }
              message = this.errorMessage;
              this.notifyUser(notifications.createNotification({ type: 'error', message }))
            }
          }
        } else {
          await this.$bus.$emit('make-2c2p-payment');
          this.sendDataToCheckout();
        }
      } else {
        await this.$bus.$emit('make-2c2p-payment');
        this.sendDataToCheckout();
      }
    },
    formateCardNumber () {
      if (this.cardnumber) {
        var str = this.cardnumber.replace(/\s/g, '')
        var numberChunks = str.match(/.{1,4}/g);
        var result = numberChunks.join(' ');
        this.cardnumber = result
      }
    },
    payment3d () {
      if (!this.paymentToken) {
        window.My2c2p.getEncrypted('2c2p-payment-form', (encryptedData, errCode, errDesc) => {
          if (errCode !== 0) { alert(errDesc + ' (' + errCode + ')'); } else {
            this.encryptedCardInfo = encryptedData.encryptedCardInfo;
            this.maskedCardInfo = encryptedData.maskedCardInfo;
            this.expMonthCardInfo = encryptedData.expMonthCardInfo;
            this.expYearCardInfo = encryptedData.expYearCardInfo;
            let paymentData = {
              cardnumber: this.cardnumber,
              cardholdername: this.cardholdername,
              month: this.month,
              year: this.year,
              cvv: this.cvv,
              encryptedCardInfo: this.encryptedCardInfo,
              maskedCardInfo: this.maskedCardInfo,
              expMonthCardInfo: this.expMonthCardInfo,
              expYearCardInfo: this.expYearCardInfo
            }
            this.$store.commit('p2c2pPayment/setPaymentDetails', paymentData)
          }
        });
      } else {
        let paymentData = {
          paymentToken: this.paymentToken
        }
        this.$store.commit('p2c2pPayment/setPaymentDetails', paymentData)
      }
    }
  },
  validations () {
    if (!this.generateInvoice) {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          country: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          apartmentNumber: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(3),
            unicodeAlphaNum
          },
          phoneNumber: {
            required,
            minLength: minLength(8),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    } else {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          company: {
            required,
            unicodeAlphaNum
          },
          taxId: {
            required,
            minLength: minLength(3)
          },
          country: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          apartmentNumber: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(3),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$white-smoke: color(white-smoke);

.payment-field-title {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  margin-top: 15px;
  margin-bottom: 9px;
}
.card-item {
  .item-box {
    background-color: $white-smoke;
    color: #666666;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    &.active {
      border-color: #1895F5;
      color: #333435;
      background-color: rgba(103, 182, 195, 0.05);
      font-weight: 600;
    }
  }
}
</style>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
</style>
