<template>
  <div class="product-listing-carousel-wrap grid-view">
    <div class="title-sec" :class="{'badge-enabled' : badge}">
      <h2 class="sec-title flex middle-xs center-xs m0">
        <img :src="badge" alt="Badge" v-if="badge" class="mr20 badge-mobile">
        <div class="sec-title-wrap">
          <div class="sec-title-cover" :style="titleBadge">
            <div class="sec-title-cover-cover" v-if="seeAllLink">
              <router-link
                :to="seeAllLink"
              >
                {{ title }}
                <span class="sec-subtitle align-center m0" v-if="subTitle">
                  {{ subTitle }}
                </span>
              </router-link>
            </div>
            <div class="sec-title-cover-cover" v-else>
              {{ title }}
              <div class="sec-subtitle align-center m0" v-if="subTitle">
                {{ subTitle }}
              </div>
            </div>
          </div>
          <div class="flex end-md see-all-link-wrap" v-if="seeAllLink && Object.keys(populatedList).length > 0">
            <router-link
              class="see-all-link"
              :to="seeAllLink"
            >
              <span>
                {{ $t('See All') }}
              </span>
              <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" />
              </svg>
            </router-link>
          </div>
        </div>
      </h2>
    </div>
    <div class="product-listing-carousel" v-if="Object.keys(populatedList).length > 0">
      <no-ssr>
        <div class="relative">
          <div class="swiper-slider-wrap">
            <div v-swiper="swiperOption" :instance-name="sliderId">
              <div class="swiper-wrapper">
                <div class="swiper-slide hover-on-product" v-for="(product, index) of populatedList" :key="index">
                  <product-tile :product="product" :product-border-enabled="productBorderEnabled" />
                </div>
                <div class="swiper-slide hover-on-product h-auto flex middle-xs center-xs" v-if="seeAllLink">
                  <div class="see-all-btn">
                    <router-link class="see-all" :to="seeAllLink">
                      <span>
                        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#1895F5" stroke-width="3" />
                        </svg>
                      </span>
                      <strong>
                        {{ $t('See All') }}
                      </strong>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div :id="sliderId + '-pagination'" class="swiper-pagination" slot="pagination" :style="enablePagination()" />
          <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
          </div>
          <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
          </div>
        </div>
      </no-ssr>
    </div>
    <div class="product-listing-carousel loader-ajax-slider" v-if="nostoProductFlag">
      <div class="site-ajax-loader" />
    </div>
  </div>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile';
import SwiperCore, { Navigation, Pagination, Autoplay } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination, Autoplay]);

export default {
  name: 'ProductListingSlider',
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: true
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 1
    },
    slideAutoPlay: {
      type: Boolean,
      default: true
    },
    seeAllLink: {
      type: String,
      default: ''
    },
    badge: {
      type: String,
      default: ''
    },
    productsList: {
      type: [Object, Array],
      default: () => []
    },
    nostoId: {
      type: String,
      default: ''
    },
    loop: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      topSelection: [],
      nostoProductFlag: '',
      quickViewProduct: null,
      swiperOption: {
        spaceBetween: 25,
        slidesPerView: 4,
        freeMode: true,
        autoplay: this.slideAutoPlay,
        loop: this.loop,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints(),
        on: {
          slideChangeTransitionStart () {
            let $wrapperEl = this.$wrapperEl;
            let params = this.params;
            $wrapperEl.children(('.' + (params.slideClass) + '.' + (params.slideDuplicateClass)))
              .each(function () {
                let idx = this.getAttribute('data-swiper-slide-index');
                this.innerHTML = $wrapperEl.children('.' + params.slideClass + '[data-swiper-slide-index="' + idx + '"]:not(.' + params.slideDuplicateClass + ')').html();
              });
          },
          slideChangeTransitionEnd () {
            this.slideToLoop(this.realIndex, 0, false);
          }
        }
      }
    };
  },
  components: {
    ProductTile,
    // Swiper,
    // SwiperSlide,
    'no-ssr': NoSSR
  },
  directives: {
    swiper: directive
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ queryConfig: 'products' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: this.$props.limit
    });
    //    this.topSelection =
    // newProductsResult.items.length > 0 ? newProductsResult.items : [];
    this.topSelection = await this.productsList.length > 0 ? this.productsList : (newProductsResult.items.length > 0 ? newProductsResult.items : []);

    this.nostoProductFlag = true;
  },
  computed: {
    titleBadge () {
      return {
        '--titleBadge': 'url(' + this.badge + ')'
      }
    },
    populatedList () {
      // return this.productsList;
      if (this.nostoId && this.productsList[this.nostoId]) {
        return this.productsList[this.nostoId]
      } else if (this.productsList.length > 0) {
        return this.productsList
      } else {
        return []
      }
      // return (this.nostoId && this.productsList[this.nostoId]) ? this.productsList[this.nostoId] : (this.productsList.length > 0) ? this.productsList : [];
    }
  },
  watch: {
    populatedList (val) {
      if (val.length) {
        this.nostoProductFlag = false;
      }
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    },
    enablePagination () {
      var pagination = this.paginationEnabled ? 'display: block' : 'display: none';
      return pagination;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$white: color(white);
$blue-1895F5: color(blue-1895F5);

.sec-title {
  .sec-title-wrap {
    .sec-title-cover {
      position: relative;

      &::before {
        content: "";
        background-image: var(--titleBadge);
        width: 48px;
        height: 48px;
        margin-right: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.product-listing-carousel {

  .swiper-slide {
    .product-image {
      min-height: 200px;
    }
  }

  .swiper-button-prev {
    left: -25px;
  }

  .swiper-button-next {
    right: -25px;
  }
}

.see-all-link-wrap {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 767px) {
    position: static;
    transform: none;
    justify-content: center;
  }
}

.see-all-link {
  font-size: 15px;
  font-weight: 400;
  color: $gray-666666;
  display: inline-flex;
  align-items: center;
  span{
    margin-right: 10px;
    min-width: 65px;
    display: block;
  }

  svg {
    width: 8px;
    height: 13px;
    path {
      stroke:$gray-666666;
      transition: all 0.3s ease 0s;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $color-secondary;
      }
    }
  }
}

.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-ajax-slider {
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-loader-wrap {
  justify-content: center;
  display: flex;
  margin: 150px 0;
}

@media (max-width: 767px) {
  #product{
    .product-top-section{background: none;}
    .product-thumb-slider{ background: #fff; padding: 15px;}
    .product-thumb-slider {flex-wrap: wrap;}
    .swiper-container-vertical > .swiper-wrapper {flex-direction: row;}
    .product-thumb-slider .thumb-slider-left {padding-right:0px;flex: inherit;max-width: inherit; width: 100%;order: 2;padding-top: 10px;}
    .product-thumb-slider .thumb-slider-right {flex-basis: inherit;max-width: inherit;width: 100%;}
    .product-thumb-slider {max-height:inherit;}
  }
    .site-loader-wrap {
    margin: 50px 0;
  }
}

</style>
