<template>
  <button
    type="button"
    class="bg-cl-transparent brdr-none p0 menu-button"
    @click="openSidebarMenu(); removeBodyScroll();"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.75" y="0.75" width="28.5" height="28.5" rx="3.25" stroke="white" stroke-width="1.5" fill="transparent" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8 10.5H22H8Z" fill="white" />
      <path d="M8 10.5H22" stroke="white" stroke-width="1.5" stroke-linecap="round" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5H22H8Z" fill="white" />
      <path d="M8 15.5H22" stroke="white" stroke-width="1.5" stroke-linecap="round" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8 20.5H22H8Z" fill="white" />
      <path d="M8 20.5H22" stroke="white" stroke-width="1.5" stroke-linecap="round" />
    </svg>
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  mixins: [HamburgerIcon],
  data () {
    return {
      scrollPosition: 0
    }
  },
  mounted () {
    this.$bus.$on('body-scroll-position-add', this.addBodyScroll)
  },
  methods: {
    removeBodyScroll () {
      if (isServer) {
        return false
      }
      this.$nextTick(async () => {
        const $body = document.querySelector('body');
        let scrollPosition = window.pageYOffset || 0;
        $body.style.overflow = 'hidden';
        $body.style.position = 'fixed';
        $body.style.top = `-${scrollPosition}px`;
        $body.style.width = '100%';
        this.scrollPosition = scrollPosition;
      })
    },
    addBodyScroll () {
      this.$nextTick(() => {
        const $body = document.querySelector('body');
        $body.style.removeProperty('overflow');
        $body.style.removeProperty('position');
        $body.style.removeProperty('top');
        $body.style.removeProperty('width');
        window.scrollTo(0, this.scrollPosition);
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$color-secondary: color(secondary);

.menu-button {
  svg {
    rect,
    path {
      transition: all 0.5s ease 0s;
    }
  }

  &:hover {
    svg {
      rect {
        fill: $white;
      }
      path {
        stroke: $color-secondary;
      }
    }
  }
}
</style>
